body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.active {
  background: -webkit-linear-gradient(#440203 , #228B22); /* For Safari 5.1 to 6.0 */
  /* background: -o-linear-gradient(#440203, #440100); /* For Opera 11.1 to 12.0 */
  /* background: -moz-linear-gradient(#440203, #440205); /* For Firefox 3.6 to 15 */
  /* background: linear-gradient(#440203 , #440205); /* Standard syntax */
}
