<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UCR Sigmas</title>
        <script src="jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700,700i" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css">

    </head>
    <body>

        <header>
            <nav style="background-color: #440203; background-color: white" class="z-depth-5">
                    <div class="nav-wrapper">
                        <div class="">

                            <a href="#!" data-activates="mobile-nav" class="button-collapse"><i class="material-icons black-text" style="font-size: 3em">menu</i></a>
                            <a href="/" class="brand-logo center black-text" style="font-family: 'Noto Serif', serif;">
                                ΣΔA
                            </a>
                            <ul class="right hide-on-med-and-down" style="padding-right: 10em">
                                <li><a href="/about" class="black-text active">About</a></li>
                                <li><a href="/brothers" class="black-text">Brothers</a></li>
                                <li><a href="/join" class="black-text">Join</a></li>
                                <li><a href="/contact" class="black-text">Contact Us</a></li>
                            </ul>
                            <ul class="side-nav" id="mobile-nav">
                                <li><a href="#!"></a></li>
                                <li><a href="/about" class="active">About</a></li>
                                <li><a href="/brothers">Brothers</a></li>
                                <li><a href="/join">Join</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
            </nav>
        </header>


        <main>
            <canvas style=""></canvas>
            <div class="container">

                <div id="fullpage">
                	<div class="section">
                        <h1>Welcome!</h1>
                        <p>
                            Welcome to the official Epsilon Chapter website of Sigma Delta Alpha Fraternity Incorporated. The Epsilon chapter of Sigma Delta Alpha was founded at the University of California, Irvine on September 21, 2002. Brothers of Sigma Delta Alpha are university men who embody the spirit of Brotherhood in order to assist each other in achieving academic goals. We are a proud fraternity that acknowledges a shared cultural heritage. We represent our people in the world of academia and we are determined to be positive role models to the youth in our communities.
                        </p>
                    </div>
                	<div class="section">Some section</div>
                	<div class="section">Some section</div>
                	<div class="section">Some section</div>
                </div>



            </div>
        </main>

        <footer class="page-footer" style="padding-top:0">

            <!--
            <div class="container">
                <div class="row" style="margin-bottom: 0">
                    <div class="col l6 s12">
                        <h5 class="white-text">More About Us</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        -->

            <div class="footer-copyright z-depth-5 black-text" style="background-color: #440203; background-color:white">
                <div class="container">
                    © 2017 Copyright Sigma Delta Alpha Inc.
                </div>
            </div>

        </footer>





        <script src="js/app.js" charset="utf-8"></script>
    </body>
</html>
