<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UCR Sigmas</title>
        <script src="jquery.min.js" charset="utf-8"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:700,700i" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>

        <header>
            <nav style="background-color: #440203; background-color: white" class="z-depth-5">
                    <div class="nav-wrapper">
                        <div class="">

                            <a href="#!" data-activates="mobile-nav" class="button-collapse"><i class="material-icons black-text" style="font-size: 3em">menu</i></a>
                            <a href="/" class="brand-logo center black-text" style="font-family: 'Noto Serif', serif;">
                                ΣΔA
                            </a>
                            <ul class="right hide-on-med-and-down" style="padding-right: 10em">
                                <li><a href="/about" class="black-text">About</a></li>
                                <li><a href="/brothers" class="black-text active">Brothers</a></li>
                                <li><a href="/join" class="black-text">Join</a></li>
                                <li><a href="/contact" class="black-text">Contact Us</a></li>
                            </ul>
                            <ul class="side-nav" id="mobile-nav">
                                <li><a href="#!"></a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/brothers" class="active">Brothers</a></li>
                                <li><a href="/join">Join</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
            </nav>
        </header>




        <main>

            <div class="container">

                <h1>Founding Fathers</h1>
                <div class="row">
                   <div class="col s12 m4 ">
                     <div class="card">
                       <div class="card-image">
                         <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                         <span class="card-title black-text">George Ashikyan</span>
                         <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                       </div>
                     </div>
                   </div>


                   <div class="col s12 m4 ">
                     <div class="card">
                       <div class="card-image">
                         <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                         <span class="card-title black-text">Jairo Becerra</span>
                         <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                       </div>
                     </div>
                   </div>

                   <div class="col s12 m4 ">
                     <div class="card">
                       <div class="card-image">
                         <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                         <span class="card-title black-text">Enrique Guillen</span>
                         <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                       </div>
                     </div>
                   </div>
                 </div>


                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Mark Huerta</span>
                           <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>


                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Aurelio Mendoza</span>
                           <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jose Mercado</span>
                           <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                 </div>

                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Joshua Morales</span>
                           <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <h1>A Class</h1>
                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Adrian Arevalo</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Kelvin Arizaga</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Luis Cueto</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                 </div>

                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Deigo Gonzalez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Oscar Perez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Francisco Sotelo</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                 </div>

                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Spencer Spade</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                 </div>

                 <h1>B Class</h1>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Michael Hillman</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <h1>Γ Class</h1>
                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Danny Huerta</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jose Mendez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Edgar Ramirez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>


                 </div>

                 <h1>Δ Class</h1>
                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Osvaldo Albarran</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Edwin Arbaiza</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">David Godinez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                 </div>

                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Ulyses Robles</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <h1>Ε Class</h1>
                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Rogelio Gonzalez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Bryan Guerrero</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jorge Jauregui</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                 </div>

                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Adrian Macias</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jeffrey Pino</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Gerardo Vergara</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>


                 </div>

                 <h1>Z Class</h1>
                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jonathan Garzon</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jose Mungia</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Enrique Munoz</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                 </div>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jose Rivas</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Michael Rodriguez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>


                 <h1>H Class</h1>
                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Fernando Andrade</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Omar Garcia</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Vladimir Gonzalez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Christian Ignacio-Fisher</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jorge Lopez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">David Medina</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <h1>Θ Class</h1>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Roberto Cervantes</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Joseph Gallardo</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Omar Leyva</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Bryan Vergara</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <h1>I Class</h1>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jorge Cruz</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text"> Aidan Lomeli </span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text"> Juan Ruelas </span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Prabhjot Singh</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Raul Valenzuela</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>
                 <h1>K Class</h1>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Ryan Houx</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Sergio Monteon</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>
                 <h1>Λ Class</h1>
                 <div class="row">

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Hever Castellanos</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Miguel Chavez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>

                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jose Cruz</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jorge Paredes</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Caesar Pacheco</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Tyler Rancanelli</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Juan Sebastian Pinzon</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Mario Torres</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <h1>M Class</h1>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Wagner Diaz Jr.</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>

                 <h1>N Class</h1>
                 <div class="row">
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Jonathan Herrera</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Hernan Martinez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                     <div class="col s12 m4 ">
                       <div class="card">
                         <div class="card-image">
                           <img src="http://eadb.org/wp-content/uploads/2015/08/profile-placeholder.jpg">
                           <span class="card-title black-text">Steven Valazquez</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">person_pin</i></a>
                         </div>
                       </div>
                     </div>
                 </div>
            </div>




        </main>

        <footer class="page-footer" style="padding-top:0">

            <!--
            <div class="container">
                <div class="row" style="margin-bottom: 0">
                    <div class="col l6 s12">
                        <h5 class="white-text">More About Us</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        -->

            <div class="footer-copyright z-depth-3" style="background-color: #440203; background-color:white">
                <div class="container">
                    © 2017 Copyright Sigma Delta Alpha Inc.
                </div>
            </div>

        </footer>





        <script src="js/app.js" charset="utf-8"></script>
    </body>
</html>
